"" 

Apply ML for Used Car Price Estimation for Eureka Motors/EM140_A2_data.csv

IBM Employee Attrition & Performance Analysis/Stage 2/code and data/WA_Fn-UseC_-HR-Employee-Attrition.csv

IBM Employee Attrition & Performance Analysis/Stage 3/cleaned_WA_Fn-UseC_-HR-Employee-Attrition.csv

Queensland Road Safety Analysis/Insight 1 - R Code/crash_incidents.csv

Queensland Road Safety Analysis/Insight 2 - Tableau/crash_incidents.csv